<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataTransfer.sources" type="Autofac.Configuration.ComponentsConfigurationSection, Microsoft.DataTransfer.Autofac" />
    <section name="dataTransfer.sinks" type="Autofac.Configuration.ComponentsConfigurationSection, Microsoft.DataTransfer.Autofac" />
    <section name="dataTransfer.configurationProviders" type="Autofac.Configuration.ComponentsConfigurationSection, Microsoft.DataTransfer.Autofac" />
  </configSections>

  <dataTransfer.sources>
    <add name="DocumentDB" displayName="Azure Cosmos DB" type="Microsoft.DataTransfer.DocumentDb.Source.DocumentDbSourceAdapterFactory, Microsoft.DataTransfer.DocumentDb" />

    <add name="HBase" type="Microsoft.DataTransfer.HBase.Source.HBaseSourceAdapterFactory, Microsoft.DataTransfer.HBase" />

    <add name="DynamoDB" type="Microsoft.DataTransfer.DynamoDb.Source.DynamoDbSourceAdapterFactory, Microsoft.DataTransfer.DynamoDb" />

    <add name="RavenDB" type="Microsoft.DataTransfer.RavenDb.Source.RavenDbSourceAdapterFactory, Microsoft.DataTransfer.RavenDb" />

    <add name="AzureTable" displayName="Azure Table" type="Microsoft.DataTransfer.AzureTable.Source.AzureTableSourceAdapterFactory, Microsoft.DataTransfer.AzureTable" />

    <add name="CsvFile" displayName="CSV File(s)" type="Microsoft.DataTransfer.CsvFile.Source.CsvFileSourceAdapterFactory, Microsoft.DataTransfer.CsvFile" />

    <add name="SQL" type="Microsoft.DataTransfer.Sql.Source.SqlDataSourceAdapterFactory, Microsoft.DataTransfer.Sql" />

    <add name="MongoDBExport" displayName="MongoDB export (mongoexport) JSON file(s)" type="Microsoft.DataTransfer.MongoDb.Source.Mongoexport.MongoexportFileSourceAdapterFactory, Microsoft.DataTransfer.MongoDb" />

    <add name="MongoDB" type="Microsoft.DataTransfer.MongoDb.Source.Online.MongoDbSourceAdapterFactory, Microsoft.DataTransfer.MongoDb" />

    <add name="JsonFile" displayName="JSON file(s)" type="Microsoft.DataTransfer.JsonFile.Source.JsonFileSourceAdapterFactory, Microsoft.DataTransfer.JsonFile" />
  </dataTransfer.sources>

  <dataTransfer.sinks>
    <add name="JsonFile" displayName="JSON file" type="Microsoft.DataTransfer.JsonFile.Sink.JsonFileSinkAdapterFactory, Microsoft.DataTransfer.JsonFile" />

    <add name="DocumentDBBulk" displayName="Azure Cosmos DB - Bulk import (single partition collections)" type="Microsoft.DataTransfer.DocumentDb.Sink.Bulk.DocumentDbBulkSinkAdapterFactory, Microsoft.DataTransfer.DocumentDb" />

    <add name="DocumentDB" displayName="Azure Cosmos DB - Sequential record import (partitioned collection)" type="Microsoft.DataTransfer.DocumentDb.Sink.Parallel.DocumentDbParallelSinkAdapterFactory, Microsoft.DataTransfer.DocumentDb" />

  </dataTransfer.sinks>

  <dataTransfer.configurationProviders>
    <!-- Sources -->
    <add type="Microsoft.DataTransfer.DocumentDb.Wpf.Source.DocumentDbSourceAdapterConfigurationProvider, Microsoft.DataTransfer.DocumentDb.Wpf" />
    <add type="Microsoft.DataTransfer.HBase.Wpf.Source.HBaseSourceAdapterConfigurationProvider, Microsoft.DataTransfer.HBase.Wpf" />
    <add type="Microsoft.DataTransfer.DynamoDb.Wpf.Source.DynamoDbSourceAdapterConfigurationProvider, Microsoft.DataTransfer.DynamoDb.Wpf" />
    <add type="Microsoft.DataTransfer.RavenDb.Wpf.Source.RavenDbSourceAdapterConfigurationProvider, Microsoft.DataTransfer.RavenDb.Wpf" />
    <add type="Microsoft.DataTransfer.AzureTable.Wpf.Source.AzureTableSourceAdapterConfigurationProvider, Microsoft.DataTransfer.AzureTable.Wpf" />
    <add type="Microsoft.DataTransfer.CsvFile.Wpf.Source.CsvFileSourceAdapterConfigurationProvider, Microsoft.DataTransfer.CsvFile.Wpf" />
    <add type="Microsoft.DataTransfer.Sql.Wpf.Source.SqlDataSourceAdapterConfigurationProvider, Microsoft.DataTransfer.Sql.Wpf" />
    <add type="Microsoft.DataTransfer.MongoDb.Wpf.Source.Mongoexport.MongoexportFileSourceAdapterConfigurationProvider, Microsoft.DataTransfer.MongoDb.Wpf" />
    <add type="Microsoft.DataTransfer.MongoDb.Wpf.Source.Online.MongoDbSourceAdapterConfigurationProvider, Microsoft.DataTransfer.MongoDb.Wpf" />
    <add type="Microsoft.DataTransfer.JsonFile.Wpf.Source.JsonFileSourceAdapterConfigurationProvider, Microsoft.DataTransfer.JsonFile.Wpf" />

    <!-- Sinks -->
    <add type="Microsoft.DataTransfer.JsonFile.Wpf.Sink.JsonFileSinkAdapterConfigurationProvider, Microsoft.DataTransfer.JsonFile.Wpf" />
    <add type="Microsoft.DataTransfer.DocumentDb.Wpf.Sink.Bulk.DocumentDbBulkSinkAdapterConfigurationProvider, Microsoft.DataTransfer.DocumentDb.Wpf" />
    <add type="Microsoft.DataTransfer.DocumentDb.Wpf.Sink.Parallel.DocumentDbParallelSinkAdapterConfigurationProvider, Microsoft.DataTransfer.DocumentDb.Wpf" />
  </dataTransfer.configurationProviders>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.19.0.0" newVersion="1.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
