<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="Microsoft.Azure.DocumentDB" version="2.4.1" targetFramework="net452" requireReinstallation="true" />
  <package id="Moq" version="4.5.21" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net452" />
</packages>