<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Microsoft.Azure.CosmosDB.Table" version="2.1.2" targetFramework="net452" />
  <package id="Microsoft.Azure.DocumentDB" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Storage.Common" version="8.6.0-preview" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.3" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.3" targetFramework="net452" />
  <package id="Microsoft.OData.Core" version="7.5.1" targetFramework="net452" />
  <package id="Microsoft.OData.Edm" version="7.5.1" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="7.5.1" targetFramework="net452" />
  <package id="Moq" version="4.5.21" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net452" />
</packages>